[{:card-type  :favor,
  :faction    :gravewood,
  :favor-type :military}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :economic}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :economic}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :quest}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :secrets}
 {:card-type         :alliance,
  :region            :general,
  :title             "A Social Dinner",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :lowest,
  :difficulty        1,
  :failure-condition :embarassed}
 {:card-type         :alliance,
  :region            :general,
  :title             "Playing Host",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :highest,
  :difficulty        2,
  :failure           "+1 Diplomacy",
  :failure-condition :angry}
 {:card-type  :alliance,
  :region     :general,
  :title      "The Silk Trade",
  :text       "TBD",
  :skill      :diplomacy,
  :roll-type  :group,
  :difficulty 4,
  :success    "+1 Luxury"}
 {:card-type         :alliance,
  :region            :general,
  :title             "Make an Impression",
  :text              "TBD",
  :skill             :command,
  :roll-type         :lowest,
  :difficulty        2,
  :failure-condition :weary}
 {:card-type         :alliance,
  :region            :general,
  :title             "War Council",
  :text              "TBD",
  :skill             :command,
  :roll-type         :highest,
  :difficulty        2,
  :failure           "+1 Command",
  :failure-condition :angry}
 {:card-type  :alliance,
  :region     :general,
  :title      "Sharing Imperial Knowledge",
  :text       "TBD",
  :skill      :command,
  :roll-type  :group,
  :difficulty 4,
  :success    "+2 Fortune"}
 {:card-type  :alliance,
  :region     :general,
  :title      "Mental Health",
  :text       "TBD",
  :skill      :lore,
  :roll-type  :highest,
  :difficulty 2,
  :success    "Clear Psyche Condition"}
 {:card-type         :alliance,
  :region            :general,
  :title             "Scouting Report",
  :text              "TBD",
  :skill             :tactics,
  :roll-type         :lowest,
  :difficulty        1,
  :failure-condition :shaken}
 {:card-type    :alliance,
  :region       :general,
  :prerequisite :shaken,
  :title        "Empire Ascendant",
  :text         "TBD",
  :skill        :command,
  :roll-type    :lowest,
  :difficulty   2,
  :failure      "Return to Red Bank"}
 {:card-type    :alliance,
  :region       :general,
  :prerequisite :angry,
  :title        "Social Faux Pas",
  :text         "TBD",
  :skill        :diplomacy,
  :roll-type    :lowest,
  :difficulty   2,
  :failure      "-1 Influence"}
 {:card-type         :alliance,
  :region            :general,
  :prerequisite      :thea,
  :title             "Trade Meeting",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :self,
  :difficulty        3,
  :success           "+1 Influence",
  :failure-condition :embarassed}
 {:card-type        :alliance,
  :region           :general,
  :prerequisite     :fuscus-thea,
  :title            "Fiscal Squabbles",
  :text             "TBD",
  :result-condition :angry}
 {:card-type  :alliance,
  :region     :gravewood,
  :title      "War Council with Lev and Sdila",
  :text       "TBD",
  :position   :first,
  :skill      :tactics,
  :roll-type  :group,
  :difficulty 2,
  :success    "+1 Spies",
  :on-success :burn}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Samo's Humiliations",
  :text              "TBD",
  :position          :first,
  :skill             :diplomacy,
  :roll-type         :lowest,
  :difficulty        1,
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Setting Traps with Radia",
  :text              "TBD",
  :position          :first,
  :skill             :thievery,
  :roll-type         :highest,
  :difficulty        3,
  :success           "+1 Thievery",
  :on-success        :burn,
  :failure-condition :wounded}
 {:card-type  :alliance,
  :region     :gravewood,
  :title      "TBD",
  :text       "TBD",
  :position   :second,
  :skill      :diplomacy,
  :roll-type  :highest,
  :difficulty 3,
  :success    "+1 Diplomacy"}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Help Galya Create an Egalitarian Society",
  :text              "TBD",
  :position          :second,
  :skill             :diplomacy,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Diplomacy",
  :on-success        :burn,
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Quell the Rising Mob",
  :text              "TBD",
  :position          :third,
  :skill             :diplomacy,
  :roll-type         :group,
  :difficulty        4,
  :failure-condition :shaken}
 {:card-type  :threat,
  :faction    :autarch,
  :category   :warfare,
  :title      "Holding the Outer Reach",
  :text       "TBD",
  :difficulty 1,
  :failure    "Lost Road"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :diplomacy,
  :title      "Food Shortage",
  :text       "TBD",
  :difficulty 1,
  :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :skirmish,
  :title      "Warring Faction",
  :text       "TBD",
  :difficulty 1,
  :failure    "-1 Stability"}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :development,
  :title     "Diplomats",
  :text      "Cancel One Diplomacy Threat"}]