[{:card-type :development,
  :category  :forge,
  :title     "Arcane Whetstone",
  :food      0,
  :timber    0,
  :ore       9,
  :mana      3,
  :luxury    0,
  :text      "+1 dice on one combat test."}
 {:card-type :development,
  :category  :forge,
  :title     "Guards",
  :food      3,
  :timber    0,
  :ore       5,
  :mana      3,
  :luxury    0,
  :text      "Cancel One Skirmish Threat"}
 {:card-type :development,
  :category  :questing
  :title     "Iron Rations",
  :food      4,
  :timber    1,
  :ore       0,
  :mana      0,
  :luxury    0,
  :text      "Remove weary condition from one hero."}
 {:card-type :development,
  :category  :questing
  :title     "Maps",
  :food      2,
  :timber    4,
  :ore       0,
  :mana      0,
  :luxury    1,
  :text      "Discard one Lost Card"}
 {:card-type :development,
  :category  :military
  :title     "Barracks",
  :food      6,
  :timber    4,
  :ore       0,
  :mana      0,
  :luxury    1,
  :text      "Cancel one military threat."}
 {:card-type :development,
  :category  :military
  :title     "Stables",
  :food      7,
  :timber    4,
  :ore       0,
  :mana      0,
  :luxury    2,
  :text      "Add +1 to Red Bank military."}
 {:card-type :development,
  :category  :sorcery
  :title     "Mana Well",
  :food      3,
  :timber    0,
  :ore       0,
  :mana      4,
  :luxury    2,
  :text      "Add +1 dice to mana pool."}
 {:card-type :development,
  :category  :sorcery
  :title     "Arcane Library",
  :food      3,
  :timber    0,
  :ore       0,
  :mana      5,
  :luxury    1,
  :text      "+1 dice to one Lore test."}
 {:card-type :development,
  :category  :diplomacy
  :title     "Trade Route",
  :food      0,
  :timber    5,
  :ore       0,
  :mana      0,
  :luxury    2,
  :text      "Trade at improved rate with one faction."}
 {:card-type :development,
  :category  :diplomacy
  :title     "Diplomats",
  :food      2,
  :timber    1,
  :ore       0,
  :mana      0,
  :luxury    2,
  :text      "Cancel one diplomacy threat."}
 {:card-type :development,
  :category  :infiltration
  :title     "Thieves Tools",
  :food      2,
  :timber    1,
  :ore       0,
  :mana      0,
  :luxury    1,
  :text      "Roll one more dice on any Thievery tests."}
 {:card-type :development,
  :category  :infiltration
  :title     "Spies",
  :food      2,
  :timber    1,
  :ore       0,
  :mana      0,
  :luxury    1,
  :text      "Cancel one infiltration threat."}]