[{:card-type         :exploration,
  :region            :general,
  :title             "Killer Boar",
  :text              "TBD",
  :skill             :combat,
  :roll-type         :lowest,
  :difficulty        1,
  :success           "+1 Combat",
  :failure-condition :wounded}
 {:card-type         :exploration,
  :region            :general,
  :title             "Snow Cat",
  :text              "TBD",
  :skill             :combat,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Combat",
  :failure-condition :wounded}
 {:card-type         :exploration,
  :region            :general,
  :title             "Imperial Scouts",
  :text              "TBD",
  :skill             :combat,
  :roll-type         :group,
  :difficulty        3,
  :success           "+1 Fortune",
  :failure-condition :wounded}
 {:card-type         :exploration,
  :region            :general,
  :title             "Novice Mistake",
  :text              "TBD",
  :skill             :survival,
  :roll-type         :lowest,
  :difficulty        2,
  :success           "+1 Fortune",
  :failure-condition :weary}
 {:card-type         :exploration,
  :region            :general,
  :title             "Scouting Ahead",
  :text              "TBD",
  :skill             :survival,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Survival",
  :failure-condition :weary}
 {:card-type         :exploration,
  :region            :general,
  :title             "Bad Weather",
  :text              "TBD",
  :skill             :survival,
  :roll-type         :group,
  :difficulty        4,
  :success           "TBD",
  :failure-condition :weary}
 {:card-type         :exploration,
  :region            :general,
  :title             "Recalcitrant Farmsteaders",
  :text              "TBD",
  :skill             :command,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Stability",
  :failure-condition :angry}
 {:card-type         :exploration,
  :region            :general,
  :title             "Imperial Plans",
  :text              "TBD",
  :skill             :tactics,
  :roll-type         :lowest,
  :difficulty        1,
  :success           "+1 Spies",
  :failure-condition :shaken}
 {:card-type        :exploration,
  :region           :general,
  :prerequisite     :weary,
  :title            "Hopeless Dawn",
  :text             "TBD",
  :result-condition :shaken}
 {:card-type    :exploration,
  :region       :general,
  :prerequisite :hopeless,
  :title        "Demoralized",
  :text         "TBD",
  :skill        :command,
  :roll-type    :self,
  :difficulty   2,
  :failure      "Character returns to Red Bank"}
 {:card-type         :exploration,
  :region            :general,
  :prerequisite      :arilde,
  :title             "Sage Knowledge",
  :text              "TBD",
  :skill             :survival,
  :roll-type         :self,
  :difficulty        3,
  :success           "+1 Luxury",
  :failure-condition :weary}
 {:card-type         :exploration,
  :region            :general,
  :prerequisite      :keel,
  :title             "Trick Shot",
  :text              "TBD",
  :skill             :combat,
  :roll-type         :self,
  :difficulty        1,
  :success           "+1 Fortune",
  :failure-condition :weary}
 {:card-type         :exploration,
  :region            :sightrock,
  :title             "Fear and Loathing in Sightrock",
  :text              "People in camp are freaking out. You must calm their nerves.",
  :position          :first,
  :skill             :command,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Fortune",
  :on-success :burn,
  :failure           "+1 Command",
  :failure-condition :shaken}
 {:card-type         :exploration,
  :region            :sightrock,
  :title             "Mob of Angry Settlers",
  :text              "You wander off, and are attacked by a mob of psychotic settlers.",
  :position          :first,
  :skill             :combat,
  :roll-type         :lowest,
  :difficulty        1,
  :success           "+1 Combat",
  :success-condition :angry,
  :failure-condition :wounded}
 {:card-type  :exploration,
  :region     :sightrock,
  :title      "Scouring the Caves",
  :text       "Find paths through the caves below Sightrock",
  :position   :first,
  :skill      :survival,
  :roll-type  :group,
  :difficulty 3,
  :success    "+1 Fortune",
  :on-success :burn,
  :failure    "+1 Lost"}
 {:card-type  :exploration,
  :region     :sightrock,
  :title      "Following the Mana Rifts",
  :text       "Find the rifts of mana amongst the rocks.",
  :position   :second,
  :skill      :lore,
  :roll-type  :group,
  :difficulty 2,
  :success    "+1 Mana",
  :failure    "+1 Lost"}
 {:card-type         :exploration,
  :region            :sightrock,
  :title             "Decipher Runes",
  :text              "What do the runes say about the Formless Spawn?",
  :position          :second,
  :skill             :lore,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Mana",
  :on-success :burn,
  :success-condition :weary,
  :failure-tag :cursed}
 {:card-type         :exploration,
  :region            :sightrock,
  :title             "Fight the Formless Spawn",
  :text              "Battle with the Formless Spawn",
  :position          :third,
  :skill             :combat,
  :roll-type         :group,
  :difficulty        5,
  :success-condition "+1 Stability"
  :failure-condition :wounded}]