[{:card-type  :faction,
  :faction    :gravewood,
  :disposition 1,
  :give :mana,
  :give-amount 1,
  :take :ore,
  :take-amount 2,
  :special "None"}
 {:card-type  :faction,
  :faction    :gravewood,
  :disposition 2,
  :give :mana,
  :give-amount 1,
  :take :ore,
  :take-amount 2,
  :special "None"}
 {:card-type  :faction,
  :faction    :gravewood,
  :disposition 3,
  :give :mana,
  :give-amount 1,
  :take :ore,
  :take-amount 2,
  :special "None"}
 {:card-type  :faction,
  :faction    :gravewood,
  :disposition 4,
  :give :mana,
  :give-amount 1,
  :take :ore,
  :take-amount 2,
  :special "None"}]