[{:card-type  :favor,
  :faction    :gravewood,
  :favor-type :military}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :economic}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :economic}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :quest}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :secrets}]