[{:card-type  :favor,
  :faction    :gravewood,
  :favor-type :military}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :economic}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :economic}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :quest}
 {:card-type  :favor,
  :region     :gravewood,
  :favor-type :secrets}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :lowest,
  :difficulty        1,
  :success           "+1 Diplomacy",
  :failure-condition :embarrassed}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Diplomacy",
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :group,
  :difficulty        3,
  :success           "+1 Fortune",
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :command,
  :roll-type         :lowest,
  :difficulty        2,
  :success           "+1 Fortune",
  :failure-condition :weary}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :command,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Command",
  :failure-condition :dishonored}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :command,
  :roll-type         :group,
  :difficulty        4,
  :success           "TBD",
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :lore,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Stability",
  :failure-condition :dishonored}
 {:card-type         :alliance,
  :region            :general,
  :title             "TBD",
  :text              "TBD",
  :skill             :tactics,
  :roll-type         :lowest,
  :difficulty        1,
  :success           "Burn One Threat",
  :failure-condition :hopeless}
 {:card-type        :alliance,
  :region           :general,
  :prerequisite     :angry,
  :title            "TBD",
  :text             "TBD",
  :result-condition :dishonored}
 {:card-type    :alliance,
  :region       :general,
  :prerequisite :dishonored,
  :title        "TBD",
  :text         "TBD",
  :skill        :command,
  :roll-type    :self,
  :difficulty   2,
  :failure      "Character Leaves"}
 {:card-type         :alliance,
  :region            :general,
  :prerequisite      :thea,
  :title             "TBD",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :self,
  :difficulty        3,
  :success           "+1 Luxury",
  :failure-condition :weary}
 {:card-type         :alliance,
  :region            :general,
  :prerequisite      :fuscus-thea,
  :title             "TBD",
  :text              "TBD",
  :skill             :diplomacy,
  :roll-type         :self,
  :difficulty        1,
  :success           "+1 Fortune",
  :failure-condition :angry}
 {:card-type  :alliance,
  :region     :gravewood,
  :title      "War Council with Lev and Sdila",
  :text       "TBD",
  :position   :first,
  :skill      :tactics,
  :roll-type  :group,
  :difficulty 2,
  :success    "+1 Spies",
  :on-success :burn}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Samo's Humiliations",
  :text              "TBD",
  :position          :first,
  :skill             :diplomacy,
  :roll-type         :lowest,
  :difficulty        1,
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Setting Traps with Radia",
  :text              "TBD",
  :position          :first,
  :skill             :thievery,
  :roll-type         :highest,
  :difficulty        3,
  :success           "+1 Thievery",
  :on-success:       :burn,
  :failure-condition :wounded}
 {:card-type  :alliance,
  :region     :gravewood,
  :title      "TBD",
  :text       "TBD",
  :position   :second,
  :skill      :diplomacy,
  :roll-type  :highest,
  :difficulty 3,
  :success    "+1 Diplomacy"}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Help Galya Create and Egalitarian Society",
  :text              "TBD",
  :position          :second,
  :skill             :diplomacy,
  :roll-type         :highest,
  :difficulty        2,
  :success           "+1 Diplomacy",
  :on-success        :burn,
  :failure-condition :angry}
 {:card-type         :alliance,
  :region            :gravewood,
  :title             "Quell the Rising Mob",
  :text              "TBD",
  :position          :third,
  :skill             :diplomacy,
  :roll-type         :group,
  :difficulty        4,
  :failure-condition :shaken}
 {:card-type  :threat,
  :faction    :autarch,
  :category   :skirmish,
  :title      "Border Skirmish",
  :text       "TBD",
  :difficulty 3,
  :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :skirmish,
  :title      "Kobold Raids",
  :text       "TBD",
  :difficulty 2,
  :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :diplomacy,
  :title      "Angry Farmers",
  :text       "TBD",
  :difficulty 2,
  :failure    "-1 Stability"}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :frustration,
  :text      "Talks are stalling and your hosts grow impatient! If you gain three frustration cards, you sent home! Discard all favors."}
 {:card-type :development,
  :title     "Diplomats",
  :text      "Cancel One Diplomacy Threat"}
 {:card-type :development,
  :title     "Maps",
  :text      "Discard one Lost Card"}]