[{:card-type   :quest,
  :quest       :gossamer-spirit,
  :quest-text  "Gossamer Spirit",
  :card-type   :dweomer,
  :title       "Forgotten Identity",
  :text        "The island of apples is a place to forgot who you are.",
  :skill       :lore,
  :progress    6,
  :at-effect   "images\moon.png",
  :effect-text "A hero forgets who they are. Return one hero to Red Bank."}
 {:card-type  :quest,
  :quest      :gossamer-spirit,
  :quest-text "Gossamer Spirit",
  :card-type  :obstacle,
  :title      "Sailing Memory Lake",
  :text       "TBD",
  :skill      :survival,
  :progress   4}
 {:card-type  :quest,
  :quest      :gossamer-spirit,
  :quest-text "Gossamer Spirit",
  :card-type  :obstacle,
  :title      "The Stone Door",
  :text       "TBD",
  :skill      :thievery,
  :progress   5,
  :on-success "Burn Card"}
 {:card-type  :quest,
  :quest      :gossamer-spirit,
  :quest-text "Gossamer Spirit",
  :card-type  :obstacle,
  :title      "Vault of Ten Locks",
  :text       "TBD",
  :skill      :thievery,
  :progress   5,
  :on-success "Burn Card"}
 {:card-type  :quest,
  :quest      :gossamer-spirit,
  :quest-text "Gossamer Spirit",
  :card-type  :guard,
  :title      "Hollow Guards",
  :text       "TBD",
  :skill      :combat,
  :progress   5,
  :ongoing-effect "Wake the Dead: Heroes with Thievery < 3 are cursed."}
 {:card-type  :quest,
  :quest      :gossamer-spirit,
  :quest-text "Gossamer Spirit",
  :card-type  :guard,
  :title      "The Weaver",
  :text       "TBD",
  :skill      :combat,
  :progress   7,
  :at-effect   "images\sun.png",
  :effect-text "Choose a hero to become wounded."}
 {:card-type  :quest,
  :quest      :gossamer-spirit,
  :quest-text "Gossamer Spirit",
  :card-type  :obstacle,
  :title      "Hall of Echoes",
  :text       "TBD",
  :skill      :lore,
  :progress   5}]