[{:card-type     :resource,
  :region        :sightrock,
  :resource-type :mana}
 {:card-type     :resource,
  :region        :sightrock,
  :resource-type :timber}
 {:card-type     :resource,
  :region        :sightrock,
  :resource-type :timber}
 {:card-type     :resource,
  :region        :sightrock,
  :resource-type :timber}]