[{:card-type  :threat,
   :faction    :autarch,
   :category   :skirmish,
   :title      "Border Skirmish",
   :text       "TBD",
   :difficulty 3,
   :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :skirmish,
  :title      "Kobold Raids",
  :text       "TBD",
  :difficulty 2,
  :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :diplomacy,
  :title      "Angry Farmers",
  :text       "TBD",
  :difficulty 2,
  :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :autarch,
  :category   :warfare,
  :title      "Holding the Outer Reach",
  :text       "TBD",
  :difficulty 1,
  :failure    "Lost Road"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :diplomacy,
  :title      "Food Shortage",
  :text       "TBD",
  :difficulty 1,
  :failure    "-1 Stability"}
 {:card-type  :threat,
  :faction    :stronghold,
  :category   :skirmish,
  :title      "Warring Faction",
  :text       "TBD",
  :difficulty 1,
  :failure    "-1 Stability"}]