[{:card-type      :woe,
  :woe            1,
  :effect-trigger 1,
  :image-effect   "images\moon.png"}
 {:card-type      :woe,
  :woe            1,
  :effect-trigger 1,
  :image-effect   "images\sun.png"}
 {:card-type      :woe,
  :woe            1,
  :effect-trigger 1,
  :image-effect   "images\sun.png"}
 {:card-type      :woe,
  :woe            1,
  :effect-trigger 1,
  :image-effect   "images\sun.png"}
 {:card-type :woe,
  :woe       1}
 {:card-type :woe,
  :woe       1}
 {:card-type :woe,
  :woe       1}
 {:card-type :woe,
  :woe       1}
 {:card-type :woe,
  :woe       1}
 {:card-type :woe,
  :woe       1}
 {:card-type      :woe,
  :woe            2,
  :effect-trigger 1,
  :image-effect   "images\sun.png"}
 {:card-type :woe,
  :woe       2}
 {:card-type :woe,
  :woe       2}
 {:card-type :woe,
  :woe       3}
 {:card-type :woe,
  :woe       4}]